<!DOCTYPE html>
<html lang="en">
<head th:replace="template_form_header :: header"></head>

<body class="nav-md">
 <div class="container body">
  <div class="main_container">
   <div th:replace="template_menu :: menu"></div>

   <!-- top navigation -->
   <div th:replace="template_topnav :: topnav"></div>
   <!-- /top navigation -->

   <!-- page content -->
   <div class="right_col" role="main">
    <div class="">
     <div class="page-title">
      <div class="title_left">
       <h3 th:text="${pageTitle}">DataConnector</h3>
      </div>
     </div>
     <div class="clearfix"></div>
     <div class="row">
      
      <div th:replace="template_dcconfig_prop :: dcconfigProp"></div>
     </div>
     <!--      <div th:replace="template_data_visualizer :: dataVisualizer"></div> -->
     
     <div th:if="${dcconfigList != null}" >
     <div  th:replace="template_dcparent_config :: dcParentSettings"></div>
     </div>
     
    </div>
   </div>
   <!-- /page content -->

   <!-- footer content -->
   <footer th:replace="template_footer :: footer"> </footer>
   <!-- /footer content -->
  </div>
 </div>

  <div th:replace="template_allscripts :: scripts"></div>

</body>
</html>
