<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/template_form_header :: header"></head>

<body class="nav-md">
 <div class="container body">
  <div class="main_container">
   <div th:replace="fragments/template_menu :: menu"></div>

   <!-- top navigation -->
   <div th:replace="fragments/template_topnav :: topnav"></div>
   <!-- /top navigation -->

   <!-- page content -->
   <div class="right_col" role="main">
    <div class="">
     <div class="page-title">
      <div class="title_left">
       <h3 th:text="${pageTitle}">DataConnector</h3>
      </div>
     </div>
     <div class="clearfix"></div>
     <div class="row">
<!--       <div th:replace="fragments/template_dcconfig_add :: dcconfigAdd"></div> -->
      <div th:replace="fragments/template_sftp_settings :: sftpFragment"></div>
     </div>
<!--      <div th:replace="fragments/template_dcconfig_table :: dcconfigTable"></div> -->
    </div>
   </div>
   <!-- /page content -->

   <!-- footer content -->
   <footer th:replace="fragments/template_footer :: footer"> </footer>
   <!-- /footer content -->
  </div>
 </div>

 <!-- jQuery -->
 <script src="../vendors/jquery/dist/jquery.min.js"
  th:src="@{vendors/jquery/dist/jquery.min.js}"></script>
 <!-- Bootstrap -->
 <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"
  th:src="@{vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
 <!-- FastClick -->
 <script src="../vendors/fastclick/lib/fastclick.js"
  th:src="@{vendors/fastclick/lib/fastclick.js}"></script>
 <!-- NProgress -->
 <script src="../vendors/nprogress/nprogress.js"
  th:src="@{vendors/nprogress/nprogress.js}"></script>
 <!-- bootstrap-progressbar -->
 <script
  src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"
  th:src="@{vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
 <!-- iCheck -->
 <script src="../vendors/iCheck/icheck.min.js"
  th:src="@{vendors/iCheck/icheck.min.js}"></script>

 <!-- Datatables -->
 <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"
  th:src="@{vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
 <script
  src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"
  th:src="@{vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
 <script
  src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"
  th:src="@{vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
 <script
  src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"
  th:src="@{vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
 <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"
  th:src="@{vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
 <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"
  th:src="@{vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
 <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"
  th:src="@{vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
 <script
  src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"
  th:src="@{vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
 <script
  src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"
  th:src="@{vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
 <script
  src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"
  th:src="@{vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
 <script
  src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"
  th:src="@{vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
 <script
  src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"
  th:src="@{vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
 <script src="../vendors/jszip/dist/jszip.min.js"
  th:src="@{vendors/jszip/dist/jszip.min.js}"></script>
 <script src="../vendors/pdfmake/build/pdfmake.min.js"
  th:src="@{vendors/pdfmake/build/pdfmake.min.js}"></script>
 <script src="../vendors/pdfmake/build/vfs_fonts.js"
  th:src="@{vendors/pdfmake/build/vfs_fonts.js}"></script>




 <!-- bootstrap-daterangepicker -->
 <script src="../vendors/moment/min/moment.min.js"
  th:src="@{vendors/moment/min/moment.min.js}"></script>
 <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"
  th:src="@{vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
 <!-- bootstrap-wysiwyg -->
 <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"
  th:src="@{vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
 <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"
  th:src="@{vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
 <script src="../vendors/google-code-prettify/src/prettify.js"
  th:src="@{vendors/google-code-prettify/src/prettify.js}"></script>
 <!-- jQuery Tags Input -->
 <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"
  th:src="@{vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
 <!-- Switchery -->
 <script src="../vendors/switchery/dist/switchery.min.js"
  th:src="@{vendors/switchery/dist/switchery.min.js}"></script>
 <!-- Select2 -->
 <script src="../vendors/select2/dist/js/select2.full.min.js"
  th:src="@{vendors/select2/dist/js/select2.full.min.js}"></script>
 <!-- Parsley -->
 <script src="../vendors/parsleyjs/dist/parsley.min.js"
  th:src="@{vendors/parsleyjs/dist/parsley.min.js}"></script>
 <!-- Autosize -->
 <script src="../vendors/autosize/dist/autosize.min.js"
  th:src="@{vendors/autosize/dist/autosize.min.js}"></script>
 <!-- jQuery autocomplete -->
 <script
  src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"
  th:src="@{vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
 <!-- starrr -->
 <script src="../vendors/starrr/dist/starrr.js"
  th:src="@{vendors/starrr/dist/starrr.js}"></script>
 <!-- Custom Theme Scripts -->
 <script src="../build/js/custom.min.js"
  th:src="@{build/js/custom.min.js}"></script>

</body>
</html>
