
<div th:fragment="emailSettingsFragment" class="col-md-12 col-xs-12">
 <div class="x_panel">
  <div class="x_title">
   <h2>
    Email Configuration Properties <small></small>
   </h2>
   <ul class="nav navbar-right panel_toolbox">
    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    <li class="dropdown"><a href="#" class="dropdown-toggle"
     data-toggle="dropdown" role="button" aria-expanded="false"><i
      class="fa fa-wrench"></i></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Settings 1</a></li>
      <li><a href="#">Settings 2</a></li>
     </ul></li>
    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
   </ul>
   <div class="clearfix"></div>
  </div>
  <div class="x_content">
   <br />
   <form action="/adminEmailSettings" method="post"
    id="ajaxForm" data-parsley-validate
    class="form-horizontal form-label-left">

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="send-email">Send Email </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:checked="${result?.sendEmail}" name="sendEmail"
       type="checkbox" class="js-switch" />
     </div>
    </div>
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="user-authentication">User Authentication <span
      class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value="${result?.userAuthentication}"
       name="userAuthentication" type="text" required="required"
       placeholder="User Authentication"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="userName">Username <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.userName} name="userName" type="text"
       required="required" placeholder="Username"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    <div class="form-group">
     <label for="password"
      class="control-label col-md-2 col-sm-2 col-xs-6">Password <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.pass} name="pass" type="password"
       required="required" placeholder="Password"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6" for="host">Email Host <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.host} name="host" type="text"
       required="required" placeholder="Email Host"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="recipient">Email Recipient(s) <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <textarea th:text=${result?.recipient} name="recipient"
       required="required"
       placeholder="Email Recipient(s) - separate by commas(,)"
       class="form-control col-md-7 col-xs-12 hasclear"></textarea>
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-port">Email Port <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.port} name="port" type="text"
       required="required" placeholder="Email Port"
       class="form-control col-md-7 col-xs-12 validate hasclear" min="0" maxlength="4" pattern="\d*">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-subject">Email Subject <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <input th:value=${result?.subject} name="subject" type="text"
       required="required" placeholder="Email Subject"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="email-message">Email Message <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <textarea th:text=${result?.msg} name="msg"
       form="ajaxForm" required="required"
       placeholder="Email Message"
       class="form-control col-md-7 col-xs-12 hasclear"></textarea>
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="subject-error">Subject Error <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 	">
      <input th:value=${result?.subjectErr} name="subjErr" type="text"
       placeholder="Subject Error"
       class="form-control col-md-7 col-xs-12 hasclear" required="required">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-2 col-sm-2 col-xs-6"
      for="message-error">Message Error <span class="required">*</span>
     </label>
     <div class="col-md-4 col-sm-4 col-xs-6">
      <textarea th:text=${result?.msgErr} name="msgErr"
       placeholder="Message Error"
       class="form-control col-md-7 col-xs-12 hasclear" required="required"></textarea>
       <div id = "insertMessage"></div>
     </div>
    </div>

    <div class="ln_solid"></div>
    <div class="form-group">
     <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
      <button type="reset" class="btn btn-primary">Reset</button>
      <button type="submit" class="btn btn-success ">Save</button>
     </div>
    </div>

   </form>
  </div>
 </div>
</div>