
<div th:fragment="dcconfigProp" class="col-md-8 col-xs-12">
 <div class="x_panel">
  <div class="x_title">
   <h2>
    General Configuration Properties <small></small>
   </h2>
   <ul class="nav navbar-right panel_toolbox">
    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    <li class="dropdown"><a href="#" class="dropdown-toggle"
     data-toggle="dropdown" role="button" aria-expanded="false"><i
      class="fa fa-wrench"></i></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Settings 1</a></li>
      <li><a href="#">Settings 2</a></li>
     </ul></li>
    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
   </ul>
   <div class="clearfix"></div>
  </div>
  <div class="x_content">
   <br />
   <form action="/dcConfigProp" method="post" id="demo-form2"
    data-parsley-validate class="form-horizontal form-label-left">
    
    <input hidden="true" th:value="${dcconfigSeletedList?.global_config_id}" name="id">

	<div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12">
      Delete</label>
     <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="">
       <label> <input  th:checked="${dcconfigSeletedList?.disable}" name="delOption" type="checkbox" class="js-switch" />
       </label>
      </div>
      </div>
      </div> 
	
    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12"
      for="first-name">Source File Name<span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value="${dcconfigSeletedList?.sourceFileName}" name="sourceFileName" type="text" id="sourceFileName"
       required="required" placeholder="Source File Name"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    
        <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12"
      for="first-name">Descriptor File Name <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value=${dcconfigSeletedList?.descriptorFileName} name="descriptorFileName" type="text" id="descriptorFileName"
       required="required" placeholder="This will be the name of your XML file"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    
    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12"
      for="first-name">Description <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value=${dcconfigSeletedList?.description} name="description" type="text" id="description"
       required="required" placeholder="Describe what this load config will achieve"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    
    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12"
      for="first-name">Destination Table <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value=${dcconfigSeletedList?.destinationTable} name="destination_table" type="text" id="first-name"
       required="required" placeholder="Where do you want to load this data to?"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12"
      for="last-name">Table Sequence Name <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value=${dcconfigSeletedList?.sequenceName}  name="table_sequence_name" type="text" id="last-name"
       required="required" placeholder="A sequence used to generate primary keys"
       class="form-control col-md-7 col-xs-12 hasclear">
     </div>
    </div>
    <div class="form-group">
     <label for="middle-name"
      class="control-label col-md-3 col-sm-3 col-xs-12">Generated
      Key <span class="required">*</span>
     </label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <input th:value=${dcconfigSeletedList?.generatedKey}  name="generated_key" id="middle-name" required="required"
       placeholder="What is the name of your primary key?"
       class="form-control col-md-7 col-xs-12 hasclear" type="text">
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12">Column
      Delimiter</label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <select name="column_delimiter" required="required"
       class="select2_single form-control" tabindex="-1">
<!--        <option></option> -->
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 1)" value="1">Piped Separated (|)</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 2)" value="2">Comma Separated(,)</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 3)" value="3">Tab Separated</option>
       <option th:selected="(${dcconfigSelectedList?.delimiter} == 4)" value="4">Fixed Length</option>
      </select>
     </div>
    </div>

    <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12">Date
      Format</label>
     <div class="col-md-6 col-sm-6 col-xs-12">
      <select name="date_format" required="required"
       class="select2_single form-control" tabindex="-1">
<!--        <option></option> -->


       <option th:selected="(${dcconfigSelectedList?.dateFormat} == 1)"  value="1">ddMMyyyy</option>
       <option th:selected="(${dcconfigSelectedList?.dateFormat} == 2)"  value="2">yyyy-MM-dd HH:mm:ss</option>
       <option th:selected="(${dcconfigSelectedList?.dateFormat} == 3)" value="3">yyyy/MM/dd HH:mm:ss</option>
       <option th:selected="(${dcconfigSelectedList?.dateFormat} == 3)" value="3">yyyy-dd-MM HH:mm:ss</option>
       <option th:selected="(${dcconfigSelectedList?.dateFormat} == 5)" value="5">yyyy/dd/MM HH:mm:ss</option>
      </select>
     </div>
    </div>
    
    
    
        <div class="form-group">
     <label class="control-label col-md-3 col-sm-3 col-xs-12">
      Include Load Execution</label>
     <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="">
       <label> <input th:checked="${dcconfigSeletedList?.includeLoadExecution} or 'checked'" name="includeLoadExecution" type="checkbox" class="js-switch" />
       </label>
      </div>
     </div>
    </div>


    <div class="ln_solid"></div>
    <div class="form-group">
     <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-6">
      <button class="btn btn-primary" type="reset">Reset</button>
      <button type="submit" class="btn btn-success">Save</button>
     </div>
    </div>

   </form>
  </div>
 </div>
</div>