<div th:fragment="allBatchHistoryFragment" class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                All Batch History <small></small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                                        data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a></li>
                        <li><a href="#">Settings 2</a></li>
                    </ul></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- <p class="text-muted font-13 m-b-30"></p> -->

            <table id="datatable-buttons"
                   class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Updated Date</th>
                    <th>Number of Records Updated</th>
                    <th>Time Taken (ms)</th>
                    <th>Data Source</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each= "history, status : ${allBatchHistoryList}">
                    <td th:text="${status.index + 1}"></td>
                    <td th:text="${history.batchname}"></td>
                    <td th:text="${history.batchdesc}"></td>
                    <td th:text="${history.updateddate}"></td>
                    <td th:text="${history.records}"></td>
                    <td th:text="${history.timetaken}"></td>
                    <td th:text="${history.datasource}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>